.icone-perfil {
    color: #F0FED8;
}
.navbar-brand {
    color: #F0FED8;
    font-family: 'Livvic', sans-serif;
    font-size: 25px;
}   
.sb-topnav{
   background-color: #194328;
}
.linkss{
    color: #F0FED8;
}
.dropsitens:hover{
    background-color: #F0FED8;
    color: #194328;
}
