.card-header{
    background-color: #F2F2F2;
    border-bottom: 1px solid #E5E5E5;
    padding: 0.75rem 1.25rem;
    display: flex;
    align-items: center;
    color: #194328;
}
#cadastro_usuario{
    padding: 20px;
    border-radius: 10px;
}
.form-control-label{
    font-size: 20px;
    color: #194328;
}